@import '../styles/bootstrap.scss';

body, html {
	height: 100%;
	min-height: 100%;

	cursor: none;
	a { cursor: none; }
	//user-select: none;

	#app {
		height: 100%;
		min-height: 100%;

		.app-container {
			display: flex;
			flex-direction: column;
			position: relative;

			height: 100%;
			overflow: hidden;
			
			.app-content {
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;

				.with-overlay {
					position: relative;

					.overlay {
						position: absolute;
						top: 0; bottom: 0;
						left: 0; right: 0;
				
						display: flex;
						align-items: center;
						justify-content: center;
				
						background: #000;
						opacity: 0.6;
						color: #fff;
						font-size: 2em;
					}
				}
			}
		}
	}
}
