@import '../styles/bootstrap.scss';

body, html {
	height: 100%;
	min-height: 100%;

	cursor: none;
	a { cursor: none; }
	//user-select: none;

	#app {
		height: 100%;
		min-height: 100%;

		.app-container {
			display: flex;
			flex-direction: column;

			height: 100%;
			overflow: hidden;

			.app-nav {
				padding: 10px 25px;
				font-size: 1.4em;

				ul {
					clear: both;
					padding: 0;
					margin: 0;

					display: flex;
					flex-direction: row;
					justify-content: space-between;

					li {
						flex-grow: 1;
						list-style: none;

						&:nth-of-type(2) { text-align: center; }
						&:nth-of-type(3) { text-align: right; }

						a {
							color: #333;
							text-decoration: none;
						}
					}
				}
			}

			.app-content {
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
	}
}
