@import '../../../common/styles/bootstrap.scss';

#app {
	position: absolute;
	top:0; bottom: 0;
	left: 0; right: 0;

	.app-container {
		height: 100%;
		overflow: hidden;

		.app-nav {
			@extend .container-fluid;

			ul {
				@extend .list-unstyled, .list-inline;
				margin-top: 10px;

				li {
					font-size: 1.4em;

					a {
						color: #333;
						text-decoration: none;
					}
				}
			}
		}

		.app-content {
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}
