@import 'variables';

@import 'bootstrap-sass/assets/stylesheets/bootstrap';

.app-nav {
	@extend .container-fluid;

	ul {
		@extend .list-unstyled, .list-inline;
		margin-top: 10px;

		li {
			font-size: 1.4em;

			a {
				color: #333;
				text-decoration: none;
			}
		}
	}
}
