@import '../../../styles/bootstrap.scss';

body {
	cursor: none;
	a { cursor: none; }
	//user-select: none;

	#app {
		position: absolute;
		top:0; bottom: 0;
		left: 0; right: 0;

		.app-container {
			height: 100%;
			overflow: hidden;

			.app-nav {
				@extend .container-fluid;
				margin-top: 10px;
				margin-bottom: 10px;

				font-size: 1.5em;

				ul {
					@extend .list-unstyled, .list-inline;

					li {
						@extend .col-md-4;

						&:nth-of-type(2) {
							text-align: center;
						}
						&:nth-of-type(3) {
							text-align: right;
						}

						a {
							color: #333;
							text-decoration: none;
						}
					}
				}
			}

			.app-content {
				height: 100%;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
	}
}
