@import '../styles/bootstrap.scss';

.audio-player {
    height: 100%;

    .cover-art {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;

        width: 110%;
        height: 100%;
        margin: 0 -5%;
        
        content: '';
        background-size: cover;
        background-position-y: 50%;
        filter: blur(15px);
    }

    .player {
        font-size: 1.75em;
        text-align: center;
        color: #000;

        .details {
            .album-art {
                img { height: 250px; }
            }
    
            .playback {
                margin: 15px 0 0;
                padding: 10px 0;
                background: rgba(255, 255, 255, 0.2);

                .title { font-size: 1.25em; }
            }
        }

        .controls {
            background: rgba(255, 255, 255, 0.2);
            padding: 10px 0;

            button {
                margin: 0 20px;
                font-size: 2.5em;
                background: none;
                border: none;
                outline: none;
                
                &.play { @extend .glyphicon, .glyphicon-play; }
                &.pause { @extend .glyphicon, .glyphicon-pause; }
                &.next { @extend .glyphicon, .glyphicon-step-forward; }
                &.previous { @extend .glyphicon, .glyphicon-step-backward; }
            }
        }
    }
}