<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Carputer</title>
	<script src="http://192.168.1.153:6680/mopidy/mopidy.js"></script>
</head>
<body>
	<div id="app" class="container-fluid">

	</div>
	{{# if pageOptions.includeDevServer }}
	    <script src="/webpack-dev-server.js"></script>
	{{/ if}}
</body>
</html>
