<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Carputer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="app">

	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ htmlWebpackPlugin.options.pageOptions.googleApiKey }}"></script>
	{{# if htmlWebpackPlugin.options.pageOptions.includeDevServer }}
	    <script src="/webpack-dev-server.js"></script>
	{{/ if}}
</body>
</html>
