@import '../../../styles/bootstrap.scss';
@import '../../../styles/font-awesome.scss';

.audio-player {
	$overlay-background: rgba(255, 255, 255, 0.2);

	position: relative;
	height: 100%;
	
	button {
		background: none;
		border: none;
		outline: none;
	}

    .cover-art {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;

        width: 110%;
        height: 100%;
        margin: 0 -5%;
        
        content: '';
        background-size: cover;
        background-position-y: 50%;
        filter: blur(15px);
    }

    .player {
        text-align: center;
        color: #000;

        .details {
            .album-art {
				height: 250px;
				
				img {
					height: 250px;
					border: 1px solid #333;
				}
            }
    
            .playback {
                margin: 15px 0 0;
                padding: 10px 0;
                background: $overlay-background;
				font-size: 1.75em;

				.title { font-size: 1.25em; }
				.time {
					position: relative;
					
					.track-progress {
						position: absolute;
						left: 0;
						bottom: 0;
						border-bottom: 3px solid rgba(0, 255, 0, 0.3);
						transition: width 1s linear;
					}
				}
            }
        }

        .controls {
            background: $overlay-background;
            padding: 16px 0;

            button {
				margin: 0 65px;
				
				@mixin control {
					@extend .fa, .fa-fw;
					font-size: 4em;
				}
                
                &.play { @include control; @extend .fa-play; }
                &.pause { @include control; @extend .fa-pause; }
                &.next { @include control; @extend .fa-step-forward; }
				&.previous { @include control; @extend .fa-step-backward; }
            }
		}
    }
		
	.menu {
		display: flex;
		position: absolute;
		top: 175px;
		left: 0;
		padding: 15px;
		background: $overlay-background;

		transition: margin 500ms;

		button {
			color: #222;

			@mixin menu-item {
				@extend .fa, .fa-fw;
				margin: 0 45px;
				font-size: 3em;
			}

			&.sources { @include menu-item; @extend .fa-sign-in; }
			&.browser { @include menu-item; @extend .fa-bars; }			
		}

		@mixin menu-hint {
			@extend .fa, .fa-fw;
			margin: 0 15px;
		}

		&.in {
			margin-left: -290px;
			button.hint { @include menu-hint; @extend .fa-chevron-right; }
		}

		&.out {
			button.hint { @include menu-hint; @extend .fa-chevron-left; }
		}
	}
}
